body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  /* position: relative;
  width: 1440px;
  height: 2592px; */
  letter-spacing: 0.02em;
  background: var(--white-color);
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
