.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  /* outline: 2px solid tomato; */
}

/* Hero */
.hero {
  max-width: 1440px;
  /* height: 600px; */
  background: var(--main-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 112px 0px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mobile@2x.jpg);
  }
}

.hero-title {
  max-width: 320px;
  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.hero-button {
  display: block;
  transition: background-color var(--anim-transition);
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 72px;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  color: var(--white-color);
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-active-color);
}
/* Advantages */
.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}
.advantages-list {
  display: block;
}
.advantages-list .item {
  margin-bottom: 72px;
}
.advantages-name {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-color);
}
.advantages-desc {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.02em;
  width: 100%;
  color: var(--text-color);
}
.advantages-icon {
  display: none;
}
.icon-container {
  display: none;
}
/* Examples */
.examples {
  display: none;
}
/* Team */
.team {
  background: var(--cloud-color);
  padding: 96px 0px;
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.teammates-description {
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.teammates-name {
  margin-bottom: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.team-title {
  margin-bottom: 72px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
}
.teammates-description-container {
  padding: 32px 0;
}
.teammates-position {
  text-align: center;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}
.team-container .teammates-description {
  width: 264px;
  border-radius: 0px 0px 4px 4px;
}
.social-list {
  display: flex;
  margin-top: 8px;
  justify-content: center;
  gap: 24px;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.social-links {
  display: flex;
  background-color: var(--brand-color);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color var(--anim-transition);
}
.social-links:hover,
.social-links:focus {
  background-color: var(--button-active-color);
}
.social-icon {
  fill: var(--cloud-color);
}

/* Customers */
.customers {
  padding: 96px 0;
}
.customer-section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.customers-item {
  flex-basis: calc((100% - 24px) / 2);
  height: 88px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}
.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--main-logo-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: var(--main-logo-color);
  transition: color var(--anim-transition), border var(--anim-transition);
}
.customers-icon {
  fill: currentColor;
}
.customers-link:hover,
.customers-link:focus {
  color: var(--button-active-color);
  border: 1px solid var(--button-active-color);
}
/* Footer */
.footer {
  background: var(--main-color);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 96px 0px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.studio-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud-color);
}
.footer-desc {
  max-width: 268px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: var(--cloud-color);
}
.container-logo > .logo {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.social-media-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.footer-social {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  background-color: var(--brand-color);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color var(--anim-transition);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--success-color);
}
.footer-social-icon {
  fill: var(--cloud-color);
}
/* Footer Subscribe Section */
.footer-subscribe-container {
  width: 100%;
}
.footer-form-name {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.footer-form-label {
  display: block;
  width: 100%;
}
.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--brand-color);
  transition: background-color var(--anim-transition);
  cursor: pointer;
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--button-active-color);
}
.footer-subscribe-icon {
  fill: var(--white-color);
}
.footer-form-input {
  display: block;
  height: 40px;
  width: 100%;
  padding: 8px 16px;
  color: var(--white-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  background-color: var(--main-color);
  outline: 1px solid transparent;
  transition: color var(--anim-transition),
    background-color var(--anim-transition), border-color var(--anim-transition);
}
.footer-form-input:hover,
.footer-form-input:focus {
  color: black;
  background-color: var(--white-color);
  border-color: var(--button-active-color);
}
/* Modal */
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity var(--anim-transition), transform var(--anim-transition),
    visibility var(--anim-transition);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.2);
}
.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--anim-transition);
}
.backdrop.is-hidden .modal {
  transform: translate(0);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--anim-transition),
    fill var(--anim-transition);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--button-active-color);
}
.modal-close-button:hover .close-button {
  fill: var(--white-color);
}
.modal-form {
  position: absolute;
  top: 72px;
  left: 24px;
}
.modal-form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
.modal-form-label:not(:last-child) {
  margin-bottom: 8px;
}
.modal-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.input-wrapper {
  position: relative;
}
.modal-form-icon {
  position: absolute;
  top: 8px;
  left: 16px;
  fill: var(--main-color);
}
.modal-form-input {
  display: block;
  width: 100%;
}
.modal-form-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-logo-color);
}
.modal-form-input,
.modal-form-comment {
  height: 40px;
  width: 360px;
  padding: 8px 16px;
  padding-left: 40px;
  outline: 1px solid transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color var(--anim-transition), fill var(--anim-transition);
}
.modal-form-comment {
  padding-left: 16px;
}
.modal-form-comment {
  height: 120px;
}
.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-input:hover,
.modal-form-input:focus {
  border-color: var(--brand-color);
}
.modal-form-input:hover ~ .modal-form-icon,
.modal-form-input:focus ~ .modal-form-icon {
  fill: var(--brand-color);
}
.modal-form-comment:hover,
.modal-form-comment:focus {
  border-color: var(--brand-color);
}
.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  color: transparent;
  transition: background-color var(--anim-transition),
    border-colo var(--anim-transition), color var(--anim-transition);
  cursor: pointer;
}

.checkbox-wrap {
  display: flex;
  align-items: center;
}
.custom-icon {
  fill: currentColor;
  transition: fill var(--anim-transition) 250ms;
}

.checkbox:checked + .checkbox-wrap > .custom-checkbox {
  background-color: var(--button-active-color);
  border-color: transparent;
  color: var(--white-color);
}

.checkbox-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--main-logo-color);
  margin-left: 8px;
}

.checkbox-link {
  color: var(--brand-color);
}
.checkbox-link:hover,
.checkbox-link:focus {
  color: var(--button-active-color);
}
.modal-form-button {
  display: block;
  background-color: var(--brand-color);
  color: var(--white-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 170px;
  margin: 20px auto;
  transition: background-color var(--anim-transition);
}
.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--button-active-color);
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}
