@media screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 16px;
  }
  /* Header */
  .header > .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .site-nav {
    margin-right: auto;
  }

  .address-list {
    flex-direction: column;
    gap: 5px;
  }
  .address-list .link {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
  }
  .mobile-open {
    display: none;
  }
  /* Hero */
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
  .hero-button {
    margin-top: 36px;
  }
  /* Modal */
  /* Advantages */
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .advantages-name {
    text-align: left;
    font-weight: 700;
    font-size: 36px;
  }
  .advantages-desc {
    width: 356px;
  }
  .advantages-list .item {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 72px;
  }
  .advantages-list .item:nth-child(3) {
    margin-bottom: 0;
  }
  .advantages-list .item:nth-child(4) {
    margin-bottom: 0;
  }
  /* Customers */
  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
    height: 88px;
  }
  /* Footer */
  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .container-logo {
    margin-left: 0px;
  }
  .container-logo > .logo {
    display: block;
    width: 115px;
  }
  .footer-desc {
    width: 264px;
  }
  .subscribe-title {
    margin-top: 72px;
  }
  .social-media-title {
    text-align: left;
  }
  .footer-subscribe-container {
    width: 453px;
    text-align: left;
  }
  .footer-form-name {
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
  }
  .footer-form-label {
    width: 264px;
  }
  .footer-form-input {
    border: 1px solid var(--text-color);
  }
}
